@font-face {
    font-family: 'Aniron Regular';
    src: url(font/Aniron-7BaP.ttf);
}

@font-face {
    font-family: 'Aniron Bold';
    src: url(font/AnironBold-mL9P.ttf);
}

@font-face {
    font-family: 'AnironC Bold';
    src: url(font/AnironcBold-PKwr.ttf);
}

@font-face {
    font-family: 'AnironC Regular';
    src: url(font/Anironc-d9DK.ttf);
}

@font-face {
    font-family: 'Party Business Regular';
    src: url(font/PartyBusiness-4B0K.ttf);
}

@font-face {
    font-family: 'Tengwar Annatar Regular';
    src: url(font/tngan.ttf);
}

@font-face {
    font-family: 'Tengwar Annatar Bold';
    src: url(font/tnganb.ttf);
}

@font-face {
    font-family: 'Tengwar Annatar Bold Italic';
    src: url(font/tnganbi.ttf);
}

@font-face {
    font-family: 'Tengwar Annatar Bold Italic';
    src: url(font/tnganbi.ttf);
}

@font-face {
    font-family: 'Tengwar Annatar Italic';
    src: url(font/tngan.ttf);
}

.navbar {
    font-family: "Aniron Bold";
}

.navbar-nav {
    margin-left: 20%;
}

.bg-orange {
    background-color: #fd7e14;
}

.pipe-before::before {
    content: "|";
    color: white;
    margin-right: 10px;
}

.nav-link.active {
    text-decoration: underline;
}

div.carousel-enfant {
    position: absolute;
    top: 5px;
    color: white;
    font-weight: bold;
    font-size: 140%;
    margin-left: 18%;
    margin-top: 12%;
    font-family: 'Party Business Regular';
}

div.carousel-enfant h1 {
    font-size: 4.5rem;
}

div.carousel-enfant h1 .maj{
    font-size: 6.5rem;
}

div.carousel-enfant h2 {
    font-size: 2.5rem;
}

.cards-title {
    text-align: center;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: 'Aniron Regular';
}

.span-card-title {
    font-size: 75%;
    letter-spacing: -2px;
}

.cards-title h3::before, .cards-title h3::after {
    content: ' i''j ';
    font-family: 'Tengwar Annatar bold italic';
    color: #fd7e14;
    font-size: 200%;
    font-variant: super;
}

.card {
    width: 21rem !important;
    border: solid 7px black !important;
}

.card-img-gandalf, .card-img-aragorn {
    background-color: gray;
}

.card-img-gandalf img, .card-img-aragorn img {
    opacity: 0.5;
}

.card-img-gimli {
    background-color: black;
}

.card-img-gimli img {
    opacity: 0.5;
}

.card-title-gandalf, .card-title-aragorn, .card-title-gimli {
    position: absolute;
    top: 36%;
    color: white;
    width: 100%;
    font-size: 400%;
    font-family: 'Party Business Regular';
    text-align: center;
}

.card-body {
    background-color: black;
    color: white;
    font-family: 'Party Business Regular';
    padding: 0.5rem !important;
}

.card-text {
    font-size: 208%;

.pills {
    font-family: 'Aniron Regular';
    margin-bottom: 3vh !important;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
}
.pills a {
    color: rgb(75, 74, 74);
}

.pills .nav-link.active {
    background-color: white !important;
    color: #fd7e14 !important;
    font-weight: bold;
    text-decoration-thickness: 6px;
    text-underline-offset: 10px;
}

.pills .nav-link.active::before, .pills .nav-link.active::after {
    content: ' b ';
    font-family: 'Tengwar Annatar bold italic';
    color: #fd7e14;
    font-weight: initial;
}

.dead {
    position: absolute;
    top: 9%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    color: #fd7e14;
    font-family: 'Aniron Regular';
}

.gimli-line-through {
    font-family: 'Tengwar Annatar italic';
    color: #fd7e14;
    position: absolute;
    top: 46%;
    font-size: 400%;
    text-align: center;
    width: 115%;
    font-style: italic;
    opacity: 0.8;
}

.dead-card {
    background-color: darkgray;
    opacity: 0.4;
    
}

div.enfant {
    display: none;
    position: absolute;
    top: 5px;
    width: 88%;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    height: auto;
    font-size: 200%;
    opacity: 0.7;
    margin: 20px;
    font-family: 'Party Business Regular';
}

div.enfant span {
    color: #fd7e14;
}

div.parent:hover .enfant {
	display:block;
}

hr {
    margin-top: 150px !important;
    border-top: 2px solid black !important;
}
 
.contact {
    width: 80vw;
    align-items: center;
    margin: 0px auto;
    padding-bottom: 20px;
}
 
form input {
    width: 100%;
    margin: 5px 0;
}
 
form textarea {
    width: 100%;
    margin: 5px 0;
    height: 100px;
}
 
form .submit {
    text-align: center;
    margin-top: 15px;
    float: right;
  }
 
footer {
    color: wheat;
    background-color: rgb(75, 74, 74);
    padding : 20px;
    margin-top: 100px;
}
 
footer ul {
    list-style: none;
    padding-left: 0px;
}
 
.footer_1, .footer_2, .footer_3 {
    font-size: 14px;
    line-height: 24px;
}
 
.footer_4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 10px;
}
